.hero {
    background-color: #0040C1;
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.profile:hover .profile-img {
    transform: scale(1.1);
}

.hero__title {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    margin-top: 1rem;
    justify-content: center;
    font-weight: 600;
}

.hero_description {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-align-last: center;
    text-transform: capitalize;
    justify-content: center;
    text-wrap: balance;
    color: #eee8e8;

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icons i {
    font-size: 30px;
    margin: 0 10px;
    color: #fff;
    transition: color 0.3s ease;
}

.icons i:hover {
    color: #0051ff;
    text-shadow: 0px 5px 18px #0051ff;
}

.title-skills h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: #0040C1;
    text-shadow: 0px 5px 18px #000000;
}

.icons-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.skills i {
    font-size: 30px;
    margin: 0 10px;
    color: #0040C1;
    transition: color 0.3s ease;
}

.skills i:hover {
    color: #082d7c;
    text-shadow: 0px 5px 18px #0051ff;
}

.linha-skills {
    border-bottom: 2px solid #e1d7d7;
    padding-bottom: 10px;
}

#projetosCarousel img {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border-bottom: 2px solid #e1d7d7;
    padding-bottom: 10px;
}

.projetos h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: #0040C1;
    text-shadow: 0px 5px 18px #000000;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #003298;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #0051f4;
}

.cube:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

@-webkit-keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .profile-img {
        width: 180px;
        height: 180px;
    }

    .hero__title {
        font-size: 1.5rem;
        margin-top: 1rem;

    }

    .hero_description {
        font-size: 0.8rem;

    }
}