@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

